<button class="fun" data-toggle="collapse" data-target="#emoji">click for fun</button>
		<div id="emoji" class="collapse">
 			<div class="container-fluid padding">
 				<div class="row text-center">
 					<div class="col-sm-6 col-md-3">
 						<img src="img/gif/panda.gif">
 					</div>
 					<div class="col-sm-6 col-md-3">
 						<img src="img/gif/poo.gif">
 					</div>
 					<div class="col-sm-6 col-md-3">
 						<img src="img/gif/unicorn.gif">
 					</div>
 					<div class="col-sm-6 col-md-3">
 						<img src="img/gif/chicken.gif">
 					</div>
 				</div>
 			</div>
		</div> 



		figure{
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed{
  background-image: url(img/mac.png);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


figure{
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

.fixed-wrap{
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed{
  background-image: url(img/mac.png);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

